@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-teal-100: oklch(0.9686 0.1064 181.84);
  --color-teal-200: oklch(0.9486 0.1064 181.84);
  --color-teal-300: oklch(0.9286 0.1064 181.84);
  --color-teal-400: oklch(0.8286 0.1064 181.84);
  --color-teal-500: oklch(0.7286 0.1064 181.84);
  --color-teal-600: oklch(0.6286 0.1064 181.84);
  --color-teal-700: oklch(0.5286 0.1064 181.84);
  --color-teal-800: oklch(0.4286 0.1064 181.84);
  --color-teal-900: oklch(0.3286 0.1064 181.84);

  --color-orange-100: oklch(0.9605 0.2211 34.7);
  --color-orange-200: oklch(0.9105 0.2211 34.7);
  --color-orange-300: oklch(0.8605 0.2211 34.7);
  --color-orange-400: oklch(0.7605 0.2211 34.7);
  --color-orange-500: oklch(0.6605 0.2211 34.7);
  --color-orange-600: oklch(0.5605 0.2211 34.7);
  --color-orange-700: oklch(0.4605 0.2211 34.7);
  --color-orange-800: oklch(0.3605 0.2211 34.7);
  --color-orange-900: oklch(0.2605 0.2211 34.7);

  --color-gray-100: oklch(0.8989 0.01 305.39);
  --color-gray-200: oklch(0.7989 0.01 305.39);
  --color-gray-300: oklch(0.6989 0.01 305.39);
  --color-gray-400: oklch(0.5989 0.01 305.39);
  --color-gray-500: oklch(0.4989 0.01 305.39);
  --color-gray-600: oklch(0.3989 0.01 305.39);
  --color-gray-700: oklch(0.2989 0.01 305.39); 
  --color-gray-800: oklch(0.1989 0.01 305.39);
  --color-gray-900: oklch(0.0989 0.01 305.39);

  --color-black: oklch(0.05 0.01 305.39);

  --color-background: var(--background);
  --color-foreground: var(--gray-900);
  --color-primary: var(--teal-400);
  --color-primary-foreground: var(--gray-900);
  --color-secondary: var(--orange-400);
  --color-secondary-foreground: var(--gray-900);
  --color-muted: var(--gray-300);
  --color-muted-foreground: #717182;
  --color-ring: var(--teal-400);

  --font-display: "Rock Salt", cursive;
  --font-mono: "Nanum Gothic Coding", monospace;
  --font-sans: "Roboto", sans-serif;

  --font-weight-black: 900;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-normal: 400;

  --font-leading-tight: 1.25;
  --font-leading-normal: 1.5;
  --font-leading-loose: 1.75;

  --animate-wave: wave .8s ease-in-out infinite;

  @keyframes wave {
    0%,
    100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(30deg);
    }
  }
}

@layer base {
  * {
    @apply border-foreground outline-ring/50;
  }

  body {
    @apply bg-gray-100 text-slate-800 font-sans;
  }

  .dark body {
    @apply bg-gray-800 text-gray-100;
  }

  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}
